<h3 class="text-center">Resource Personnels</h3>

<div class="list-group row">
  <a href="#" class="list-group-item list-group-item-action" *ngFor="let rpersonnel of resourcePersonnelList | slice:0:10;">
    <div class="row">
      <!-- <div class="col-sm-3"> -->
        <div class="thumbnail mr-3" [style.backgroundImage]="'url('+rpersonnel.Image_URL+')'"></div>
      <!-- </div> -->
      <!-- <div class="col-sm-2"> -->
        <span class="name mr-3">{{rpersonnel.First_Name}} {{rpersonnel.Last_Name}}</span><br/>
        <!-- <span class="name">119</span><br/> -->
      <!-- </div> -->
    </div>
  </a>

</div>
