<div class="container">
  <div class="row">

    <div class="col-sm-4 mt-3">
      <div class="card" style="width: 18rem;">
        <a routerLink="/admin/talk-form" class="text-center">
          <img src="../../assets/icon_add_talk.png">
        </a>
        <div class="card-body">
          <p class="card-text text-center">Add iTalk</p>
        </div>
      </div>
    </div>

    <div class="col-sm-4 mt-3">
      <div class="card" style="width: 18rem;">
        <a routerLink="/admin/view-italk-list" class="text-center">
          <img src="../../assets/icon_.png">
        </a>
        <div class="card-body">
          <p class="card-text text-center">View iTalks</p>
        </div>
      </div>
    </div>


    <div class="col-sm-4 mt-3">
      <div class="card" style="width: 18rem;">
        <a routerLink="/admin/view-italk-list" class="text-center">
          <img src="../../assets/icon_view_participants.png">
        </a>
        <div class="card-body">
          <p class="card-text text-center">View Participant List</p>
        </div>
      </div>
    </div>



  </div>
</div>